@model ElasticSearchProject.Models.Property

@{
	ViewData["Title"] = "View";
}
<div>
 <h4>(@Model.PropertyId) @Model.Name</h4>
 <hr />
 <div class="container">
  <div class="row">
   <div class="col-md-4">
	<div class="form-group">
	 <label class="control-label">Name</label>
	 <input type="text" class="form-control" value="@Model.Name" readonly="readonly">
	</div>
	<div class="form-group">
	 <label class="control-label">Former Name</label>
	 <input type="text" class="form-control" value="@Model.FormerName" readonly="readonly">
	</div>
	<div class="form-group">
	 <label class="control-label">Street Address</label>
	 <input type="text" class="form-control" value="@Model.StreetAddress" readonly="readonly">
	</div>
	<div class="form-group">
	 <label class="control-label">City</label>
	 <input type="text" class="form-control" value="@Model.City" readonly="readonly">
	</div>
	<div class="form-group">
	 <label class="control-label">Market</label>
	 <input type="text" class="form-control" value="@Model.Market" readonly="readonly">
	</div>
	<div class="form-group">
	 <label class="control-label">State</label>
	 <input type="text" class="form-control" value="@Model.State" readonly="readonly">
	</div>
   </div>
   <div class="col-xl-8"> 
	<div id='map' class='map' style="height:500px;width:100%;"></div>
   </div>
  </div>
 </div>
</div>

<script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.53.0/maps/maps-web.min.js'></script>
@section Scripts {

<script>

	let map;
	let itemCoordinates = [@Model.Longitude.ToString().Replace(',','.'), @Model.Latitude.ToString().Replace(',','.')];
	map = tt.map({

		key: '@TempData["MyTomTomKey"]',

		container: 'map',

		zoom: 15,

		center: itemCoordinates,

		style: 'tomtom://vector/1/basic-main'

	});
	var marker = new tt.Marker().setLngLat(itemCoordinates).addTo(map);

	var popupOffsets = {
		  top: [0, 0],
		  bottom: [0, -70],
		  'bottom-right': [0, -70],
		  'bottom-left': [0, -70],
		  left: [25, -35],
		  right: [-25, -35]
		}

	var popup = new tt.Popup({offset: popupOffsets}).setHTML("<b>@Model.Name</b><br/>@Model.StreetAddress");
	marker.setPopup(popup).togglePopup();
</script>

}

<div>
 <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
